@media screen and (max-width: 600px) {
  h5{
    font-size: 0.5rem;
  }
  .div1{
    display: block;
  }
  .dropdown{
    margin: 20px;
  }
}

 @media screen and (min-width: 600px) {
  .div1{
    display: flex;
  }

 } 

